body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    color: #354463;
    background-color: rgb(239, 239, 239);
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 40px;
  }
  
  h1 {
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: #354463;
    font-weight: 600;
    height: 50px;
  }
  
  li {
    padding: 32px;
    width: 200px;
    height: fit-content;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .full-name {
    font-weight: bold;
    font-size: 20px;
  }
  
  .detail {
    margin-left: 5px;
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 16px solid palevioletred;
    border-top: 16px solid #354463;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .failed-fetch {
    display: none;
  }
  
  .empty-list {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    ul {
      justify-content: center;
      align-items: center;
    }
  }
  